@font-face { font-family: Merriweather-Black; src: url(fonts/Merriweather-Black.ttf);}
@font-face { font-family: Merriweather-Bold; src: url(fonts/Merriweather-Bold.ttf);}
@font-face { font-family: Merriweather-Italic; src: url(fonts/Merriweather-Italic.ttf);}
@font-face { font-family: Merriweather-BoldItalic; src: url(fonts/Merriweather-BoldItalic.ttf);}
@font-face { font-family: Merriweather-BlackItalic; src: url(fonts/Merriweather-BlackItalic.ttf);}
@font-face { font-family: Merriweather-Regular; src: url(fonts/Merriweather-Regular.ttf);}
@font-face { font-family: Merriweather-Light; src: url(fonts/Merriweather-Light.ttf);}
